[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pytelegrambotapi = "*"
requests = "*"
python-telegram-bot = "*"
telebot  = "*"
psycopg2 = "*"
flask = "*"
psycopg2-binary = "*"
Flask-Script="*"


[dev-packages]


[requires]
python_version = "3.6"